.module-border-wrap {
  /* max-width: 250px; */
  padding: 1rem;
  position: relative;
  /* background: linear-gradient(to right, red, purple); */
  padding: 1px;
  /* width: 33%; */
  border-radius: 10px;
}

.cl1{
    background: linear-gradient(to right, #49aff9, #ad57b1);
}
.cl2{
    background: linear-gradient(to right, #ff6033, #fe1b6b);
}
.cl3{
    background: linear-gradient(to right, #f3916d, #cb25c8,  #6a15f8);
}
.cl4{
    background: linear-gradient(to right, #f3956a, #e126b9, #a523e3);
}


.combine{
    height: 800px;
    background: linear-gradient(233deg, rgba(1,1,1,1) 70%, rgba(96,15,41,1) 88%);
}

.mob-clhead{
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.footbtn2{
color: white;
    font-size: 52px;
    background: linear-gradient(77deg, rgba(25,25,25,1) 27%, rgba(2,2,2,1) 98%);
    border: 1px #322e2f solid;
    border-radius: 8px;
    /* background: linear-gradient(77deg, rgba(47,23,37,1) 27%, rgba(2,2,2,1) 93%); */
    padding: 32px 65px;
}

.footbtn3{
    color: white;
    font-size: 52px;
    background: linear-gradient(77deg, rgba(25,25,25,1) 27%, rgba(2,2,2,1) 98%);
    border: 1px #322e2f solid;
    border-radius: 8px;
    /* background: linear-gradient(77deg, rgba(47,23,37,1) 27%, rgba(2,2,2,1) 93%); */
    padding: 52px 192px;
}

.footbtn1{
color: white;
    font-size: 52px;
    /* background: bisque; */
    border: 1px #322e2f solid;
    border-radius: 8px;
    background: linear-gradient(77deg, rgba(47,23,37,1) 27%, rgba(2,2,2,1) 93%);
    padding: 32px 65px;
}

.module {
  background: #0c0c0c;
  color: white;
  padding: 2rem;
  /* width: 379px; */
height: 440px;
padding-top: 53px !important;
border-radius: 10px;
}
.module2 {
  background: #0c0c0c;
  color: white;
  padding: 1rem;
  /* width: 379px; */
/* height: 440px; */
/* padding-top: 53px !important; */
border-radius: 10px;
}
.slick-slide{
        margin-right: 50px;
}

.commsize{
    font-size: 23px;
}

.footbtns{
    display: flex;
     flex-direction: row; 
     align-items: center; 
     height: 30%; 
    /* background: linear-gradient(233deg, rgba(1,1,1,1) 70%, rgba(96,15,41,1) 88%); */
    justify-content: center;
}

.footbtnsl{
    display: flex;
     flex-direction: row; 
     align-items: center; 
     height: 70%; 
    /* background: linear-gradient(233deg, rgba(1,1,1,1) 70%, rgba(96,15,41,1) 88%); */
    justify-content: center;
}

.clientText{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 170%;
margin-top: 35px
;
}
.clientText2{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 170%;
margin-top: 35px
;
}


.headinglast{
    text-align: center;
    color: white;
        line-height: 28px;
}

.clientname{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 170%;
/* identical to box height, or 31px */

letter-spacing: 0.02em;

color: #FFFFFF;
}

.clientname2{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 170%;
/* identical to box height, or 31px */
font-weight: 400;
letter-spacing: 0.02em;
    position: relative;
    right: 25px;
    top: 1px;
color: #FFFFFF;
}
.clientrank{
    position: relative;
    top: -8px;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 170%;
/* identical to box height, or 31px */

letter-spacing: 0.02em;

color: #FFFFFF;
}



.headerLogo{
        background-color: black;
    text-align: center;
    padding: 56px 40px 40px 40px;
;
}

.slinkshotSec{
height: 600px;
/* background: linear-gradient(148deg, rgba(0,0,0,1) 0%, rgba(0,1,5,1) 61%, rgba(3,29,32,1) 74%, rgba(4,16,55,1) 100%); */
background: linear-gradient(150deg, rgba(0,0,0,1) 65%, rgba(3,28,39,1) 81%, rgba(4,14,52,1) 95%);
padding: 200px 173px 172px 173px;
}

.slinkshotSeclast{
height: 300px;
background: linear-gradient(148deg, rgba(0,0,0,1) 0%, rgba(0,1,5,1) 61%, rgba(3,29,32,1) 74%, rgba(4,16,55,1) 100%);

padding: 200px 173px 202px 173px;
box-shadow: 0px -13px 20px rgb(4 4 4);
}


.heading{
     font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
    text-align: center;

    color: #FFFFFF;
}





.headerbold{
        font-weight: 600;
    font-size: 34px;
}

.postcont{
    padding: 70px 50px;
}
.postcontmain{
  /* background: linear-gradient(170deg, rgba(8,5,0,1) 0%, rgba(50,9,9,1) 46%, rgba(111,43,6,1) 66%, rgba(128,21,44,1) 93%); */

background: linear-gradient(170deg, rgb(0 0 0) 0%, rgba(50,9,9,1) 46%, rgba(111,43,6,1) 66%, rgba(128,21,44,1) 93%);
}


.postcontmain2{
 background: linear-gradient(180deg, rgba(128,21,44,1) 0%, rgba(96,15,41,1) 31%, rgba(1,1,1,1) 100%);
}


.postrightHead{
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #FFFFFF;
}



.postrightNext{
 padding: 200px 105px 50px 17px;   
}

.postrighttext{
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 39px;
margin-top: 42px;
color: #FFFFFF;
}


.googlbtn{
align-items: center;
    padding: 10px 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #FFFFFF;
    border-radius: 23px;
    width: 170px;
    height: 44px;
    padding: 10px;
    margin-right: 30px
;
border: none;
}
.appbtn{
    align-items: center;
    padding: 12px 27px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #FFFFFF;
    border-radius: 23px
;
    margin-right: 13px
;
border: none;
  width: 170px;
    height: 44px;
    padding: 10px;
}


.btnmain{
        display: flex;
        margin-top: 39px !important;
}

@media(max-width: 500px){

    /* .commsize{
    font-size: 15px !important;
} */

.headinglast{
   font-size: 14px !important;
}

    .slinkshotSec{
        height: 387px !important;
    }
.footbtnsl{
    height: 84% !important;
}

.footbtns{
    position: relative;
    top: 98px;
}
.combine{
    height: 370px;
}

    .heading{
        font-family: Inter;
font-style: normal !important;
font-weight: normal !important;
font-size: 18px !important;
line-height: 160% !important;
/* or 29px */

text-align: center !important;

color: #FFFFFF !important;
    }

    .headerbold{
        font-weight: 600;
    font-size: 19px;
}

.slinkshotSec{
/* padding: 200px ​30px !important; */
font-size: 18px !important;
padding: 200px 30px 200px 30px !important;
}

.postright{
    padding: 0px !important;
}

.postrightHead{
    display: none !important;
}

.btnmain{
        display: flex;
        flex-direction: column;
}

.googlbtn{
    margin-bottom: 40px;
      padding: 15px 20px !important;
      margin: 0px !important;
      font-weight: 600 !important;
      width: 100% !important;
height: 60px;
border-radius: 36px !important;
}
.appbtn{
    margin-bottom: 30px;
      padding: 15px 20px !important;
      margin-top: 20px !important;
      margin-right: 0px !important;
      font-weight: 600 !important;
      width: 100% !important;
      height: 60px;
border-radius: 36px !important;
}

.onlyforMob{
    display: block !important;
}
.setAtMobSlid{
position: relative;
    left: 25px;
}

.clientText{
    font-size: 13px !important;
}
.clientText2{
    font-size: 12px !important;
}
img[src="./images/Group 33623.png"],
img[src="./images/_Path_.png"]{
    height: 24px !important;
}

.footbtn1, .footbtn2{
    font-size: 15px;
    padding: 16px 9px !important;
    width: 44% !important;
}

img[src="./images/image_2021_10_25T13_16_17_952Z-removebg-preview.png"]{
    height: 55px !important ;
}

.footbtn3{
    padding: 10px !important;
    width: 91% !important;
}

}


@media(min-width: 550px){

    .spaceWeb{
        width: 50px;
    }

    .footbtn1, .footbtn2{
        position: relative;
    top: 200px;
    }
    .onlyforWeb{
        display: block !important;
    }

    .postright{
    padding: 129px 20px 50px 119px !important;
}

.mtweb{
    margin-top: 450px;
}

.footbtn3{
    position: relative;
    top: 60px;
}

.slidermov, .slidermov2, .combine{
    width: 101.1%;
}

}




body{
    overflow-x: hidden !important;
}








.effect4
{
  position: relative;
}
.effect4:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px rgb(236, 0, 0);
  -moz-box-shadow: 0 15px 10px rgb(218, 19, 19);
  box-shadow: 0 15px 10px rgb(206, 0, 0);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
